@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
  scroll-behavior: smooth !important;
  transition: all 0.3s ease !important;
  font-family: "Jost", sans-serif;
}
/*--color codes--*/
/*--
--gunmetal: #2d3142ff;
--dark-purple-3: #1c0118ff;
--white: #ffffffff;
--coral: #ef8354ff;
--paynes-gray: #4f5d75ff;
--*/